name: Terraform Deploy

on:
  push:
    branches: [main]
  workflow_dispatch: Manual trigger only
    
jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: $$
      AWS_SECRATE_ACCESS_KEY: $$
      AWS_DEFAULT_REGION: us-east-1

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicrop/setup-terraform@v3

      - name: Terraform Init
        run: terraform init 
      
      - name: Terraform Validate
        run: terraform validate 
      
      - name: Terraform Plan
        run: terraform plan -out=tfplan
      
      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan