name: Terraform CI (Choice)

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Choose Terraform action"
        required: true
        default: 'plan'
        options:
          - plan
          - apply
          - destroy
      confirm:
        description: 'Confirm destructive action (required for destroy/apply)'
        required: false
        default: 'no'
        options:
          - yes
          - no    

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1 # change if needed


      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        if: ${{ github.event.input.action == 'plan' || github.event.input.action == 'apply'}}
        run: terraform plan -out=tfplan

      # Only apply when action == 'apply' and user confirmed
      - name: Terraform Apply
        if: ${{ github.event.input.action == 'apply' && github.event.input.confirm == 'yes'}}
        # optional safeguard: run only on main branch
        run: terraform apply -auto-approve tfplan

      # Destroy requires explicit action == 'destroy' AND confirm == 'yes'
      - name: Terraform Destroy (plan)
        if: ${{ github.event.inputs.action == 'destroy' }}
        run: terraform plan -destroy -out=destroyplan

      - name: Terraform Destroy (apply)
        if: ${{ github.event.inputs.action == 'destroy' && github.event.inputs.confirm == 'yes' }}
        run: terraform apply -auto-approve destroyplan